<form  method="post" action="/user/register">

 <div class="form-group">
   <label for="">Image of Art Work</label>
   <input type="image" class="form-control" name="image" placeholder="Image of Art Work">
 </div>

<div class="form-group">
   <label for="comments">Comment</label>
   <input type="text" class="form-control" name="comment" placeholder="Leave a Comment">
 </div>
 <br>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>
 
 <div class="form-group">
   <label for="bid">Bid</label>
   <!--bid amount between 1 and 200000-->
   <input type="number" class="form-control" name="amount" min="1" max="200000" placeholder="Place your Bid Here">
 </div>

<br>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>