<link rel="stylesheet" href="/styles/styles-index.css" media="screen" title="no title" charset="utf-8">

<div id="index">
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <h1 class="animated flipInX">creatorspace</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 justify-content-center">
        <p class="animated flipInX">Post    ||    Critique    ||    Bid</p>
      </div>
    </div>
<br><br>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <a href="/signin">
          <button id="signinpage" class="btn btn-block">Sign In</button>
        </a>
      </div>
    </div>
<br>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <a href="/signup">
          <button id="signuppage" class="btn btn-block">Sign Up</button>
        </a>
      </div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>