<form class="clearfix mb-4" action="POST">
  <div class="form-group">
    <label for="artpostTitle">Title</label>
    <input type="text" id="artpostTitle" class="form-control" aria-describedby="artpostTitle" placeholder="Enter the title of your artwork">
  </div>
  <div class="form-group">
    <label for="artpostArtist">Artist</label>
    <textarea class="form-control" id="artpostArtist" aria-describedby="artpostArtist" placeholder="Who Created this Wonderful Art?"></textarea>
  </div>
  <div class="form-group">
    <label for="artpostURL">Image URL</label>
    <textarea class="form-control" id="artpostURL" aria-describedby="artpostURL" placeholder="Enter URL to an image of your art!"></textarea>
  </div>
  <button id="submit" class="btn btn-primary float-right">Submit</button>
</form>

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/js/postNew.js"></script>
