<form  method="post" action="/user/register">

<div class="form-group">
   <label for="inputArtistName">Name</label>
   <input type="text" class="form-control" name="name" placeholder="Type Your Name Here">
 </div>
 
 <div class="form-group">
   <label for="inputArtTitle">Title</label>
   <input type="title" class="form-control" name="title" placeholder="Title of Art Work">
 </div>

 <div class="form-group">
   <label for="inputImageURL">Link to Image URL</label>
   <input type="image" class="form-control" name="image" placeholder="Place the URL of your art work here">
 </div>

 
 <br>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>