<form>

<div class="form-group">
   <label for="inputArtistName">Name</label>
   <input id="artistName" type="text" class="form-control" name="name" placeholder="Type Your Name Here">
 </div>
 
 <div class="form-group">
   <label for="inputArtTitle">Title</label>
   <input id="artTitle"
     type="title" class="form-control" name="title" placeholder="Title of Art Work">
 </div>

 <div class="form-group">
   <label for="inputImageURL">Link to art URL</label>
   <input id="artURL" type="text" class="form-control" name="image" placeholder="Place the URL of your art work here">
 </div>

 
 <br>
 <button id="submit" type="submit" class="btn btn-primary">Submit</button>
</form>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/postArt.js"></script>
