body {
  background-image: url("../images/bg.png");
  background-color:#c8e8a3; 
  background-repeat: no-repeat;
  background-size: 100vw;
  padding-top: 70px
}

footer {
  text-align: center;
  margin: 20px auto;
}

nav { 
  opacity: 0.4;
  -webkit-transition: .5s;
}

nav:hover { 
  -webkit-transition: .5s;
  opacity: 1;
}

.row {
  margin: 0px 5px 0px 5px;
}

h3 {
  text-align: center
}

button {
  color: white;
  background-color: #646464;
  -webkit-transition: .3s;
  opacity: 1;
}

button:hover { 
  opacity: 0.8;
  -webkit-transition: .3s;
}

.search {
  font-size: .8em
}
